.login-button {
    padding: 10px 20px;
    background-color: #4CAF50; /* Change to your preferred color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #45a049; /* Darker shade on hover */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
 }
 
 body {
    width: 100%;
   height: 100vh;
   background: url("assets/images/LYDO-header.jpg") ;
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   background-repeat: no-repeat;
 }
 
 header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    max-width: 100vh;
 }
 
 .navbar {
    align-items: center;
    max-width: 1500px;
    margin: auto;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    display: flex;
    z-index: 100;
    background: #43727a;
 }
 
 .navbar .logo {
    display: flex;
    align-items: center;
    text-decoration: none;
 }
 
 .navbar .logo img {
    padding: 0;
    border-radius: 50%;
    margin: 0.5rem;
    width: 70px;
 }
 
 .navbar .logo h2 {
    color: #fff;
    font-size: 20px;
    font-weight: 450;
 }
 
 .navbar .links {
    display: flex;
    list-style: none;
    gap: 45px;
    margin: 0 auto;
    padding-left: 15rem;
 }
 
 .links a {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    color: #fff;
 }
 
 .links a:hover {
    color: #19e8ff;
 }
 
 .navbar .login-btn {
    border: none;
    outline: none;
    font-size: 1rem;
    color: #275360;
    font-weight: 600;
    padding: 10px 18px;
    border-radius: 3px;
    cursor: pointer;
    background: #fff;
 }
 
 .main-container {
    display: flex;
    justify-content: center;
    padding-top: 100px;
 }

 .container {
    background: transparent;
    width: 500px;
    height: 450px;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 1, 0.9);
    justify-content:  center;

 }
 
 form {
    margin: 0 2rem;
 }
 
 .form-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 0.5rem;
    margin-bottom: 0.1rem;
 }
 
 input {
    width: 100%;
   height: 100%;
   outline: none;
   padding: 0 15px;
   font-size: 0.95rem;
   border-radius: 3px;
   border: 1px solid #717171;
 }
 
 .input-field {
    height: 50px;
   width: 100%;
   margin-top: 10px;
   position: relative;
   padding: 1% 0;
 }
 
 .input-field input:focus{
    border-color: #00bcd4;
 }
 .input-field input:is(:focus, :valid) {
    padding: 16px 15px 0;
 }
 input::placeholder{
    color: transparent;
 }

 .input-field label {
    position: absolute;
    top: 50%;
    left: 15px;
    color: #717171;
    pointer-events: none;
    transform: translateY(-50%);
    transition: 0.2s ease;
 }
 
 .input-field input:is(:focus, :valid) ~ label{
    color: #00bcd4;
    font-size: 0.75rem;
    transform: translateY(-120%);
 }
 
 .recover {
    text-align: right;
    font-size: 1rem;
    margin-bottom: 1rem;
 }
 
 .recover a {
    text-decoration: none;
    color: rgb(125, 125, 235);
 }
 
 .recover a:hover {
    text-decoration: none;
    color: #4e4e58;
 }
 
 .btn {
    width: 100%;
   outline: none;
   border: none;
   font-size: 1rem;
   font-weight: 500;
   padding: 14px 0;
   border-radius: 3px;
   margin: 20px 0;
   color: #fff;
   cursor: pointer;
   background: #00bcd4;
   transition: .3s ease;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
 }
 
 .btn:hover {
    gap: 15px;
    background: #0097a7;
 }
 
 .links {
    display: flex;
    justify-content: space-around;
    padding: 0 4rem;
    margin-top: 0.3rem;
    font-weight: bold;
 }
 
 button {
    color: rgb(125, 125, 235);
    border: none;
    background-color: transparent;
    font-size: 1rem;
    font-weight: bold;
 }
 
 button:hover {
    text-decoration: none;
    color: #4e4e58;
 }
